target

cimstructs/src/*.rs
!cimstructs/src/base.rs
!cimstructs/src/schema_source.rs
cimvalidation/src/nc_shapes.rs
cimvalidation/src/cgmes_shapes.rs
cimvalidation/src/nc_profiles.rs
cimoxide-py/python/cimoxide/types.pyi

__pycache__
*.so
*.out.xml