target

cimmodel/src/*.rs
!cimmodel/src/base.rs
!cimmodel/src/schema_source.rs
!cimmodel/src/decode.rs
!cimmodel/src/convert.rs
cimvalidation/src/nc_shapes.rs
cimvalidation/src/cgmes_shapes.rs
cimvalidation/src/nc_profiles.rs
cimoxide-py/python/cimoxide/types.pyi

__pycache__
*.so
*.out.xml